<strong>Report Title:</strong> Final Project - Data in Hand <br>
<strong>Name:</strong> Kendall Williams <br>
<strong>Date:</strong> 11/16/25

!conda install -y seaborn

In [24]:
import seaborn as sns

### Barn Owl Data
I have selected two CSV files from eBird data resource. This data shows the range of American Barn owls by region, continent, and season.

In [18]:
owls = pd.read_csv(r'\Users\kwill\Downloads\brnowl_regional_2023\brnowl_regional_2023.csv')
owls.head()

,species_code,common_name,scientific_name,prediction_year,region_type,region_code,region_name,continent_code,continent_name,season,start_date,end_date,abundance_mean,total_pop_percent,continent_pop_percent,range_occupied_percent,range_total_percent,range_days_occupation,max_week,max_week_percent_pop
0,brnowl,American Barn Owl,Tyto furcata,2023,country,ARG,Argentina,SA,South America,year_round,2023-01-04,2023-12-27,0.143734,2.325082e-01,0.264929,0.876067,0.155983,365,2023-01-11,0.316672
1,brnowl,American Barn Owl,Tyto furcata,2023,country,BHS,The Bahamas,NaN,North America,year_round,2023-01-04,2023-12-27,0.003312,2.796711e-05,0.000229,0.319633,0.000297,365,2023-02-01,0.000111
2,brnowl,American Barn Owl,Tyto furcata,2023,country,BLZ,Belize,NaN,North America,year_round,2023-01-04,2023-12-27,0.260014,3.805580e-03,0.031097,0.826005,0.001331,365,2023-01-04,0.006748
3,brnowl,American Barn Owl,Tyto furcata,2023,country,BMU,Bermuda,NaN,North America,year_round,2023-01-04,2023-12-27,0.002912,5.149532e-07,0.000004,0.382353,0.000007,365,2023-09-06,0.000002
4,brnowl,American Barn Owl,Tyto furcata,2023,country,BOL,Bolivia,SA,South America,year_round,2023-01-04,2023-12-27,0.086595,5.424053e-02,0.061804,0.925149,0.063783,365,2023-08-30,0.082025

### Forest Loss Data
I selected another CSV file from Our World in Data's "Deforestation and Forest Loss" data report. This data shows the long term changes in forest cover globally.

In [19]:
url = "https://ourworldindata.org/grapher/annual-change-forest-area.csv?v=1&csvType=full&useColumnShortNames=true"
df = pd.read_csv(url)

In [23]:
df.head()[["Entity", "Year", "Code","Annual net change in forest area"]]

      Entity  Year Code  Annual net change in forest area
0    Algeria  1990  DZA                           -8800.0
1    Algeria  2000  DZA                           33900.0
2    Algeria  2010  DZA                            7600.0
3    Algeria  2015  DZA                           -1400.0
4  Argentina  1990  ARG                         -182600.0